.employeeAccessHistory{
	float:right;
	width:79.5%;
	position:right;
	margin-top:50px;

	opacity: 0.9;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	text-align:center;

	margin-bottom:50px; 
}

.employeeAccessHistory h3{
	color: white;
}


table.tblemp {
    border-collapse: collapse;
    width: 80%;
	position: relative;
	margin:auto;
	background-color: #ffffff;
}


table.tblemp thead{
	background-color: #b30000;
	color: white;
	text-align: center;
	padding: 10px;
	
	
}

table.tblemp tbody{
    text-align: left;
    padding: 8px;
}

table.tblemp tr:nth-child(even){background-color: #ffcccc}

@media screen and (max-width: 400px) {
	
	.employeeAccessHistory{
		float:right;
		width:95%;
		/*position:right;*/
		margin-top:50px;

		opacity: 0.9;
		filter: alpha(opacity=60); /* For IE8 and earlier */
		text-align:center;

		margin-bottom:50px; 
	}
	
	
	/* Force table to not be like tables anymore */
	.tblemp table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.tblemp thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		background-color:white;
	}
	
	table.tblemp thead{
	display: none;
	}

	/*
	
	
	
	*/
	
	
	
	
	table.tblemp {
    /*border-collapse: collapse;*/
    width: 80%;
	position: relative;
	/*margin:auto;*/
	/*background-color: #111111;*/}
   
}