*{
	box-sizing: border-box;
}

body {
	background-image: url("../images/klfBackGround.png");
	background-repeat: no-repeat;
	background-attachment: fixed;	
	background-size: 1896px 1000px;
	margin:0;
	padding: 0;


}

#logoutbtn{
	float:right;
}


.header {
	margin: 0px;
	top: 0;
	left:0;
	padding: 0px;
	display: inline-block;
	
	width:100%;
	background: rgba(0,0,0, 1);
	
	z-index: 1;
	
	position:fixed;
	
}


.footer{
	position: fixed;
    bottom: 0;
	height: 50px;
    width: 100%;
	background: rgba(0,0,0, 1);
	text-align:center;
	align-content:center;
	color:white;

}

em{
	position: relative;
	top: 30%;

	margin: auto;
}


#imglogo{
	background-size:contain;
	background-color:transparent;
	width: 110px;
	height: 50px;
	border-style:none;
	z-index: 1;
}


#leftside-header{
	float:left;

}
#rigthside-header{
	float: right;
	margin-top:10px;
	
	margin-right:10px;
	
}
#clear-spaces{
	clear: both;
}



#signout:link, #signout:visited {
    background-color: white;
    color: red;
    
	border-radius:8px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#signout:hover, #signout:active {
    background-color: red;
	opacity: 0.9;
    color: white;
}
