.userProfile{
	
	float:right;
	width:79.5%;
	height:auto;
	position:right;
	margin-top:55px;

	margin-bottom:50px;
	
}

.userProfile_fieldset{
	width: 70%;
	margin:auto;
	background-color: #ffffff;
	border-radius: 15px;
}


.usrInfoArea{
	width: 70%;
	position: relative;
	margin:  20px auto;
	background-color: rgba(204, 204, 204, 0.9);
	border-radius: 10px;
	padding-top: 10px;
}

.tbInfo{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}




