/*--------Stylesheet for the LogIn page-----------*/


.email-confirm-box{
	width: 100%;
	position: fixed;
	top: 0px;
	height: 1000px;
}

.email-confirm-text{
	margin: 400px auto;
	posiiton: fixed;
	text-align: center;
	top: 0px;
	bottom: 0px;
	font-size: 15px;
}


.login-background{
	 filter: grayscale(50%)brightness(30%);
	 -webkit-filter: grayscale(50%)brightness(30%);
	 min-height: 980px;
	
}

.login-container-fluid {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

@media ( max-width :768px) {
	.login-container-fluid, .login-background{
		width: 1400px;
	}
}

.login-bookmark{
	 border: 1px solid;
	 padding: 2px 0px;
	 width: 160px;
	 text-align: center;
	 font-size: 12px;
	 float: right; 
	 margin-right: 10px;
	 cursor: pointer;
}

#log_top_part{
	font-family: arial;
	margin: auto;
	color: #b2b2b2;
	min-height: 470px;
}

.login-footer{
	 text-align: left;
	 margin-top: 337px;
	 width: 100%; 
	 padding: 25px;
	 background-color: #323943;
	 color: #ffffff;
	 filter: brightness(35%);
	 -webkit-filter: brightness(35%);
	 opacity: 0.9;
	 position:relative;
	 bottom: 0;
}

.login-footer a, .login-footer a:hover{
	  color: #ffffff;
	  font-family: georgia;
}

table.loginTab{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	color: #505050;
	font-size:14px;
	border-spacing:8px;
	border-collapse: separate;
}

/*change the look of the submit button*/
#submitBTN{
	width: 400px;
	height: 45px; 
	background-color: #4A4B50; 
	color: #ACAEB0; 
	font-family: arial;
	font-size: 20px;
	border: 1px solid #5a5b61;
}

#submitBTN:hover{
	color: #ffffff;
}

#btnLoading{
	width: 400px;
	height: 45px; 
	background-color: #4A4B50; 
	border: none;
	opacity: 0.9;
	text-align: center;
	padding-top: 5px;
	border: 1px solid #5a5b61;
	display: none;
}

#btnLoading img{
	width: 35px; 
}

#username, #password, #firstName, #lastName, #company, #email, #phone{ 
	 width: 400px; 
	 height: 45px; 
	 font-size: 18px;
	 text-align: center; 
	 border: none;
	 border-bottom: 1px solid;
	 color: #b2b2b2;
	 background: transparent;
}

#phone{ 
	 width: 300px; 
	 height: 45px; 
	 font-size: 18px;
	 text-align: center; 
	 border: none;
	 border-bottom: 1px solid;
	 color: #b2b2b2;
	 background: transparent;
}

#phoneExt{ 
	 width: 100px; 
	 height: 45px; 
	 font-size: 18px;
	 text-align: center; 
	 border: none;
	 border-bottom: 1px solid;
	 color: #b2b2b2;
	 background: transparent;
}

#username{
	background: url('/images/login-username.png') no-repeat;
	background-position: 8px 10px;
}

#password{
	background: url('/images/login-password.png') no-repeat;
	background-position: 10px 10px;
}

#firstName{
	background: url('/images/login-username.png') no-repeat;
	background-position: 8px 10px;
}

#lastName{
	background: url('/images/login-username.png') no-repeat;
	background-position: 8px 10px;
}

#company{
	background: url('/images/login-company.png') no-repeat;
	background-position: 10px 10px;
}

#email{
	background: url('/images/login-email.png') no-repeat;
	background-position: 10px 10px;
}

#phone{
	background: url('/images/login-phone.png') no-repeat;
	background-position: 10px 10px;
}

.show-pwd-text{
	background-color: #171717;
	padding:5px 8px;
	color: #b2b2b2;
	font-size: 14px;
	margin-top: 25px;
}

.vertical-center{
	 font-family: arial;
	 margin-top: 50px;
}

.keep-me-logged{
	float: right;
	background-color: #161718;
	margin: 100px 36px 20px 0px;
	text-align: center;	
	padding: 5px;
}

.keep-me-text{
	font-size: 14px;
	color: #b2b2b2;
}

.logTF{
	border-radius:18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*Text over the form for notification*/
p#logNotification{
	position: relative;
	display: none;
	font-size: 16px;
	font-style: bold;
	color: red;
	text-align: center;
}                                   

.leftSide {
	width: 100%;
	margin: 100px auto 0px auto;
}

#passCB {
	vertical-align:middle;
}
	
/*.rightSide {
	width:870px;
	background-image: url(../images/LS_BP_Background.png);
	float:right;
}
	
.focus-lure {
	font-family:Georgia;
	font-size:16px;
	color:#000000
}	*/
		
/*----------------------------------------END-----*/